# Reference: https://docs.fief.dev/self-hosting/environment-variables/
SECRET=phRp5N1bjDzGTudOVG4iUSBEisWxmv3Bdo3FeT_I6S4lnR0DQ-UB8w8suX8KkeUdvsuKwbYxfho79clRqLPUNw
FIEF_CLIENT_ID=3wI6H-nVkVZLc2h0OJFl91zV_RoyGMfUqjYR-z3uA-M
FIEF_CLIENT_SECRET=lUVKMrNdudjh3XCSnUeaJaJy3pH-PacGIcC8yUamL4U
ENCRYPTION_KEY=tPRQXvzj8jjSNKj74zPnNaQPbVjXeKNBGl8LZc6-mpU=
# port number should correspond to docker-compose fief-server container settings
PORT=8000
ROOT_DOMAIN=192.168.2.72:8000
FIEF_DOMAIN=192.168.2.72:8000
FIEF_MAIN_USER_EMAIL=
FIEF_MAIN_USER_PASSWORD=

CSRF_COOKIE_SECURE=False
SESSION_DATA_COOKIE_SECURE=False
USER_LOCALE_COOKIE_SECURE=False
LOGIN_HINT_COOKIE_SECURE=False
LOGIN_SESSION_COOKIE_SECURE=False
REGISTRATION_SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
FIEF_ADMIN_SESSION_COOKIE_SECURE=False
EMAIL_PROVIDER=NULL
TELEMETRY_ENABLED=false

# Read more: https://docs.fief.dev/self-hosting/deployment/setup-database/
DATABASE_TYPE=POSTGRESQL
# postgres container name from docker-compose
DATABASE_HOST=fief_postgres
DATABASE_PORT=5432
DATABASE_USERNAME=fief
DATABASE_PASSWORD=fief
DATABASE_NAME=fief

# postgres container credentials
POSTGRES_USER=fief
POSTGRES_PASSWORD=fief
POSTGRES_DB=fief

REDIS_URL=redis://fief_redis:6379
